@{
    @model AccountCreationResponse
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>@Model.CurrentAccount.AccountNumber</p>
<p>@Model.CurrentAccount.AccountLimit</p>
<p>@Model.CurrentAccount.Balance</p>
<p>@Model.CurrentAccount.Principal.Name</p>

<p>
    @if (Model.Success)
    {
        <p>Teste</p>
    }
    else
    {
        <p>Teste 2</p>

    }
</p>
